.main {
  width: 100%;
}

.sectionMain {
  width: 100%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.118);
  margin-top: 10vh;
  background-image: url("../../assets/IMG-main1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 50px;
}

.boxDescImg {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  height: 100%;
  justify-content: center;
}

.boxDescImg > h1 {
  font-size: 50px;
  animation-name: transform;
  animation-duration: 3s;
}

.boxDescImg > p {
  font-size: 20px;
  animation-name: transform;
  animation-duration: 3.5s;
}

.buttonCall {
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #ff6b1a;
  color: white;
  font-weight: bold;
  animation-name: transform;
  animation-duration: 3.5s;
}

@keyframes transform {
  0% {
    transform: translateX(-2000px);
  }

  100% {
    transform: translateX(0px);
  }
}

.sectionProduct {
  width: 100%;
  height: 80vh;
  padding: 50px;
  display: flex;
  gap: 50px;
}

.sectionProduct > img {
  width: 60%;
  height: 100%;
  border-radius: 15px;
}

.productDesc1 {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 25px;
}

.productDesc1 > h2 {
  font-size: 40px;
  color: white;
}

.productDesc1 > p {
  font-size: 20px;
  text-align: justify;
}

.boxButtons {
  display: flex;
  gap: 20px;
}

.boxButtons > button {
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #ff6b1a;
  color: white;
  font-weight: bold;
}

.priceBox {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.priceBox > img {
  width: 200px;
}

@media (max-width: 800px) {

  .sectionMain, .boxDescImg {
    width: 100%;
  }

  .sectionMain {
    height: 80vh;
  }

  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .boxDescImg > h1 {
    font-size: 35px
  }

  .boxDescImg > button {
    width: 80%;
  }

  .sectionProduct {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .sectionProduct > img {
    width: 90%;
  }
}
