.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding: 0px 25px;
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  z-index: 100;
}

.header > img {
  width: 200px;
  animation-name: transform;
  animation-duration: 3.5s;
  animation-iteration-count: 1, infinite;
  cursor: pointer;
}

form {
  min-width: 30%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  animation-name: transform;
  animation-duration: 3.5s;
}

.header > form > input {
  width: 100%;
  height: 100%;
  color: #006663;
  padding: 10px 20px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-right: 1px solid black;
}

input::placeholder {
  color: #006663;
}

.buttonSearch {
  background-color: transparent;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

img {
  width: 25px;
  margin: 0px 12px;
  cursor: pointer;
  vertical-align: middle;
}

.buttonsBox {
  display: flex;
  gap: 15px;
}

#btnLogin {
  animation-name: transform;
  animation-duration: 3.5s;
}

#btnCad {
  animation-name: transform;
  animation-duration: 3s;
}

#btnCad,
#btnLogin {
  background-color: white;
  padding: 10px 20px;
  border-radius: 15px;
  color: #006663;
  cursor: pointer;
  transition: 0.4s linear all;
}

#btnCad:hover,
#btnLogin:hover {
  background-color: #02ada8;
  color: white;
}

@keyframes transform {
  0% {
    transform: translateX(-2000px);
  }

  100% {
    transform: translateX(0px);
  }
}